@model IIT360_Web.Models.EventImage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EventImage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Caption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Caption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkEventEvemgeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkEventEvemgeNavigation.EventId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkImageEvemgeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkImageEvemgeNavigation.ImgName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdeventImage">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
