@model IIT360_Web.Models.Iitian

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Iitian</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IitianName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IitianName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SemesterCi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SemesterCi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Connected)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Connected)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IitianMail">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
