@model IEnumerable<IIT360_Web.Models.FacultyPublication>

@{
    ViewData["Title"] = "Faculty-Publication";
}

<h1>Faculty-Publication</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FkFacultyFacpubNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkPublicationFacpubNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-dark table-hover">
            <td>
                @Html.DisplayFor(modelItem => item.FkFacultyFacpubNavigation.FacultyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkPublicationFacpubNavigation.PublicationId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FacPubId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FacPubId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FacPubId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
