@model IIT360_Web.Models.History

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>History</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeadingText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeadingText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RohTable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RohTable)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HistoryId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
