@model IEnumerable<IIT360_Web.Models.Publication>

@{
    ViewData["Title"] = "Publication";
}

<h1>Publication</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div style="overflow-x:auto">
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PubType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PubYear)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-primary table-dark table-hover">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PubType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PubYear)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PublicationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PublicationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PublicationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>