@model IEnumerable<IIT360_Web.Models.Ano>

@{
    ViewData["Title"] = "Aim and Objectives";
}

<h1>Aim and Objectives</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div style="overflow-x:auto">
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Aim)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-dark table-hover">
            <td>
                @Html.DisplayFor(modelItem => item.Aim)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AnoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AnoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
