@model IEnumerable<IIT360_Web.Models.Notice>

@{
    ViewData["Title"] = "Notice";
}

<h1>Notice</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div style="overflow-x:auto">
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Section)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkNoticeDocumentNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-dark table-hover">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Section)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkNoticeDocumentNavigation.PdfName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NoticeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NoticeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NoticeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>