@model IEnumerable<IIT360_Web.Models.AcademicDocument>

@{
    ViewData["Title"] = "AcademicDocuments";
}

<h1>Academic-Documents</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div style="overflow-x:auto">
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkAcademicAcdocNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkDocumentAcdocNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-dark table-hover">
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkAcademicAcdocNavigation.AcademicAdmission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkDocumentAcdocNavigation.PdfName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AcDocId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AcDocId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AcDocId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
