@model IIT360_Web.Models.PublicationDocument

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PublicationDocument</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkDocumentPubdocNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkDocumentPubdocNavigation.PdfName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkPublicationPubdocNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkPublicationPubdocNavigation.PublicationId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PubDocId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
