@model IIT360_Web.Models.Institution

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Institution</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstHeader)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstHeader)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InstDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InstDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkInstImageNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkInstImageNavigation.ImgName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InstitutionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
