@model IEnumerable<IIT360_Web.Models.Research>

@{
    ViewData["Title"] = "Research";
}

<h1>Research</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div style="overflow-x:auto">
<table class="table table-dark table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkFacultyResearchNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="table-dark table-hover">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkFacultyResearchNavigation.FacultyId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ResearchId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ResearchId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ResearchId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>